* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #003087;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.button.button-outlined {
    background-color: #fff;
    border: 1px solid #003087;
    color: #003087;
}

.button.button-small {
    height: 32px;
    font-size: 14px;
}

.button.search {
    width: calc(100% - 32px);
    position: fixed;
    bottom: 60px;
    left: 16px;
}
.button.button-half {
    width: 50%;
}

.filter-row {
    display: flex;
    margin: 8px 16px;
}

.checkbox-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #003087;
    margin-right: 10px;
}

.checkbox-row input[type="checkbox"] {
    display: none;
}

.checkbox-row input[type="checkbox"]+label {
    padding: 4px;
    padding-left: 28px;
    font-size: 14px;
    color: #003087;
}

.checkbox-row input[type="checkbox"]+label::before {
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #003087;
}

.checkbox-row input[type="checkbox"]:checked+label::before {
    background-color: #003087;
}

.checkbox-row input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    width: 9px;
    height: 4px;
    border-radius: 1px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}

/* MENU */

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    background-color: #F2F2F2;
    padding: 0 16px;
    z-index: 10;
}
.header {
    position: sticky;
    top: 0;
}
.header-close {
    padding-right: 0;
}

.header .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer.footer-menu {
    padding: 0;
}

.menu-block {
    width: 48px;
    min-width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-block_gray {
    background-color: #818285;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.menu-toggle_open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
}

.menu-toggle_open span {
    width: 24px;
    height: 3px;
    margin-top: 2px;
    background-color: #333;
}

.menu-toggle_open span:first-child {
    margin-top: 0;
}

.button-close {
    position: relative;
}

.button-close:before,
.button-close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #fff;
}

.button-close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-wrapper {
    width: 100%;
    height: calc(100% - 48px);
    position: absolute;
    top: 0;
    left: -2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    background-color: #fff;
    transition: 0.2s;
}

.menu-wrapper li {
    margin-top: 32px;
}

.menu-wrapper a {
    font-size: 20px;
    line-height: 28px;
    color: #003087;
    font-weight: bold;
    text-decoration: none;
}

.footer-menu.active .language,
.footer-menu.active .menu-toggle_close {
    display: flex;
}

.language,
.menu-toggle_close,
.footer-menu.active .menu-toggle_open,
.footer-menu.active .menu-search {
    display: none;
}

.footer-menu.active+.menu-wrapper {
    left: 0;
}

/* MAIN */

.accounts-list {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 54px;
}

.accounts-list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 16px;
    border: 1px solid #818285;
    text-decoration: none;
    color: #333;
}

.accounts-list_item .title {
    font-size: 16px;
    line-height: 24px;
    color: #003087;
}

.accounts-list_item .text {
    font-size: 14px;
    line-height: 20px;
}

.accounts-list_item .arrow {
    align-self: flex-start;
}


/* SEARCH */

.header_search {
    padding: 8px 4px;
}

.input-row {
    position: relative;
    width: 100%;
    margin: 0 16px;
}

.input-row input {
    width: 100%;
    height: 32px;
    padding: 4px 24px 4px 8px;
    border: 1px solid #818285;
    outline: none;
}

.input-row .reset {
    position: absolute;
    top: 10px;
    right: 8px;
}

.search-list {
    padding: 0 16px 120px;
}

.search-list_item {
    position: relative;
    display: block;
    color: #333;
    padding: 8px 0;
    font-size: 14px;
    border-bottom: 1px solid #818285;
}

.search-list_item.with-label {
    padding-right: 35px;
}

.search-list_item .title,
.detail-container .title {
    font-size: 20px;
    line-height: 28px;
    color: #003087;
}

.search-list_item .desciprion {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.search-list_item .label {
    position: absolute;
    top: 14px;
    right: 0;
    color: #818285;
    font-size: 12px;
}

.detail-container {
    display: flex;
    align-items: center;
}

.detail-container img {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.specification {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specification-cost {
    display: flex;
    flex-direction: column;
}

.specification-cost .price {
    font-size: 16px;
}

.specification-cost .button {
    margin-top: 12px;
}

.specification-table {
    margin-top: 12px;
    border-collapse: collapse;
}

.specification-table th,
.specification-table td {
    border: 1px solid;
    height: 40px;
    width: 36px;
    vertical-align: center;
    text-align: center;
}

.specification-table th {
    background-color: #f2f2f2;
}

.specification-table td {
    background-color: #f5b91e40;
}

.specification-table td:first-child {
    background-color: #d5432340;
}

.title-same {
    margin-top: 16px;
}

/* characteristic */
.characteristic-wrapper {
    margin-bottom: 60px;
}
.characteristic-wrapper .detail-container {
    margin: 16px;
}

.characteristic-list_item {
    display: flex;
    font-size: 14px;
}
.characteristic-list_item:nth-child(2n) {
    background-color: #F2F2F2;
}

.characteristic-list_item .name,
.characteristic-list_item .value {
    padding: 8px 16px;
}

.characteristic-list_item .name {
    width: 55%;
    padding-right: 8px;
}
.characteristic-list_item .value {
    width: 45%;
    padding-left: 8px;
}

.bottom-block {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.25);
}

.bottom-block .content {
    width: 50%;
    background-color: #fff;
    padding: 6px 16px;
}

